body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
/* why space-around??? this leaves ugly rivers  */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* gradients */
#header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,484848+100 */
  background: rgb(72,72,72); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(125,126,125,1) 46%, rgba(125,126,125,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(46%,rgba(125,126,125,1)), color-stop(100%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(125,126,125,1) 46%,rgba(125,126,125,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(125,126,125,1) 46%,rgba(125,126,125,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(125,126,125,1) 46%,rgba(125,126,125,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(125,126,125,1) 46%,rgba(125,126,125,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}


.orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efbb62+0,f5ae23+100 */
  background: rgb(239,187,98); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(239,187,98) 0%, rgb(245,174,35) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,187,98)), color-stop(100%,rgb(245,174,35))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(239,187,98) 0%,rgb(245,174,35) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(239,187,98) 0%,rgb(245,174,35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(239,187,98) 0%,rgb(245,174,35) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(239,187,98) 0%,rgb(245,174,35) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efbb62', endColorstr='#f5ae23',GradientType=0 ); /* IE6-9 */
}


/* Nav-bar */
.container {
  width: 100%;
}

.nav-bar {
  width: 10%;
  display: inline-block;
}

.content {
  width: 90%;
  display: inline-block;
  float: right;
}

.nav-tab {
  width: 100%;
  background-color: #F7E7C6;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
